/*<!-- Set background color of entire website to something a bit less abrasive
 * than snow-white, but keep the colors warm and the text distinguishable -->*/
 
/* looking for snazzy colors to use for links to CV and short Bio */
body {
  background: #FF9999;
  text-align: center;
}

#site_navigation {
	width: 950px;
	height: 50px;
	margin: 0;
	padding: 0;
} 
#site_navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
} 
#site_navigation ul li {
	display: inline;
	margin: 0px;
} 
#site_navigation ul li a {
	height:33px;
	display: block;
	float: left;
	padding: 17px 15px 0 15px;
	font: bold 16px Arial;
	color: #6699CC;
  text-align: center;
  text-decoration: none;
} 

#site_navigation ul li a:hover {
	color:#363636;
}
.display {
  display: block;
  margin-left: auto;
  margin-right:auto;
}

h2 {
  margin-left: auto;
  margin-right: auto;
  font: bold 25px;
}

li.degree {
  list-style: none;
  margin-left: 2.0%;
  margin-right: 2.0%;
  font: bold 18px;
}

#history {
  margin-left: 2.0%;
  margin-right: 2.0%;
  font: bold 18px
}
