body {
  font-size: 1em;
  background: #FF9999;
  margin-right: 10%;
  margin-right: 15%;
}

#site_navigation {
	width: 950px;
	height: 50px;
	margin: 0;
	padding: 0;
} 
#site_navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
} 
#site_navigation ul li {
	display: inline;
	margin: 0px;
} 
#site_navigation ul li a {
	height:33px;
	display: block;
	float: left;
	padding: 17px 15px 0 15px;
	font: bold 16px Arial;
	color: #6699CC;
  text-align: center;
  text-decoration: none;
} 

#site_navigation ul li a:hover {
	color:#363636;
}
.display {
  margin-left: auto;
  margin-right:auto;
}

h2 {
  margin-left: auto;
  margin-right: auto;
  font: bold 22px;
}

.degree {
  margin-left: 1.8%;
  margin-right: 1.8%;
  font: bold 16px;
}

#history {
  margin-left: 1.8%;
  margin-right: 1.8%;
  font: bold 18px;
}

p {
  margin-left: 1.8%;
  margin-right: auto;}

.cv_section {
  font: bold 18px;
}


